body {
  background-color: darkslategray;
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
  flex-direction: column;
  align-items: center;
  display: flex;
  color: white;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}

form {
  align-items: center;
  margin: 20px auto;
  max-width: 300px;
}

input,
button {
  color: black;
  border-radius: 20px;
  margin: 5px;
  padding: 10px;
  width: calc(100% - 20px);
}

button {
  margin: 20px 15px;
  background-color: lightblue;
  border: none;
  color: black;
  cursor: pointer;
  font-weight: bold;
}

ul {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style: none;
}

li {
  padding: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: black;
  margin: 10px 0;
  width: 100%;
  border-radius: 20px;
  background-color: white;
  box-shadow: inset;
  border: 3px solid white;
}

button.edit {
  font-weight: bold;
  color: black;
  margin: 0 0px 0px 20px;
  width: 90px;
  border-radius: 20px;
  background-color: lightblue;
}

button.delete {
  font-weight: bold;
  background-color: red;
  color: white;
  margin: 0 0px 0px 10px;

  width: 90px;
  border-radius: 20px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  border-radius: 20px;
  background-color: white;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 400px;
  text-align: center;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
}
